<%# <!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>AsprinX - About</title>
    <!-- Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>

  <body style="font-family: 'Roboto Slab'"> %>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <%= link_to "Home", root_path, id: "home", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, id: "about", class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Demo", demo_path, id: "demo", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, id: "contact", class: "nav-link" %>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h1 class="card-title">The AspirinX Mission</h1>
        
        <p class="card-text" style="text-align: justify">We understand that learning is an active process. Specially in computer science, students need to get hands-on experience. You try, you fail, and you repeat until you succeed. AspirinX is a cloud application where students can complete programming assignments, run tests against their solution, and track their own progress.</p>

        <p class="card-text" style="text-align: justify">AspirinX is for both students and teachers. Through a seamless user interface, teachers can create new programming assignments and generate templates for students to follow. Tests can be provided to help the student achieve a correct solution, and further tests can be added for scoring purposes. A teacher can track the progress of the students and obtain revealing statistics that can be used to boost the learning process.</p>
      </div>
    </div>
  <%# </body>

</html> %>
