<center>
  <div class="card" style="width: 20rem">
    <div class="card-body">
      <h4 class="card-title">Hi, <%= @user.name %></h4>
      <p class="card-text">Welcome to AspirinX!</p>
      <%= link_to 'Click here to go to your dashboard', dashboard_url, class: 'card-link' %>
    </div>
  </div>
</center>