<div class="col">
  <div class="row">
    <div class="col">
      <h4>WELCOME TO ASPIRINX!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: justify;">
      This is your personal <span style="color: rgb(39, 113, 27)"><b>dashboard</b></span>. Here you can see the list of courses that you are enrolled in, which you can use to <span style="color: rgb(39, 113, 27)"><b>access</b></span> different course resources, <span style="color: rgb(39, 113, 27)"><b>code</b></span> programming assignments, and <span style="color: rgb(39, 113, 27)"><b>submit</b></span> your solution. From this page, you can also <span style="color: rgb(39, 113, 27)"><b>check</b></span> your current progress or see important course announcements that have been posted.
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col">
      <h4>ANNOUNCEMENTS</h4>
    </div>
    <br>
    <div class="col-md-auto">
      <h4><a id="toggle-announcement-form-link"><i class="icon ion-chevron-up icon-button" id="toggle-announcement-form"></i></a></h4>
    </div>
  </div>
  <div class="row">
    <div class="col" id="announcement-form">
      <%= render 'users/announcement' %>
    </div>
  </div>
  <br>
  <hr>
</div>

<br>
