<div class="col">
  <h4>NEW ANNOUNCEMENT</h4>
  <br>
  <form>
    <div class="form-group">
      <label for="courseSelection">Course:</label>
      <select class="form-control" id="courseSelection">
        <% @course_list.each do |course| %>
          <option>
          <%="#{course.course_title} (#{course.course_code})"%>
          </option>
        <% end %>
      </select>

    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Announcement</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter and announcement..."></textarea>
    </div>
  </form>

  <div class="row justify-content-md-center">
    <div class="col">
    </div>
    <div class="col col-md-auto">
      <button type="button" class="btn btn-success ml-auto">Create</button>
    </div>
  </div>

  <br>
  <hr>
  <br>
  <h4>PREVIOUS ANNOUNCEMENTS</h4>
  <% if @announcement_list.present? %>
    <% @announcement_list.each do |announcement| %>
        <br>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%="COSI #{announcement.course.course_code} #{announcement.announcement_date.to_s}"%></h4>
            <p class="card-text"><%=announcement.announcement_body%></p>
            <a href="#" class="btn btn-primary">Open</a>
            <a href="#" class="btn btn-danger">Delete</a>
          </div>
        </div>
        <br>
    <% end %>
  <% end %>
</div>
