<div class="col">
  <h4>NEW ANNOUNCEMENT</h4>
  <br>
  <form>
    <div class="form-group">
      <label for="courseSelection">Course:</label>
      <select class="form-control" id="courseSelection">
        <% @course_list.each do |course| %>
          <option>
          <%="#{course.course_title} (#{course.course_code})"%>
          </option>
        <% end %>
      </select>

    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Announcement</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter and announcement..."></textarea>
    </div>
  </form>

  <div class="row justify-content-md-center">
    <div class="col">
    </div>
    <div class="col col-md-auto">
      <button type="button" class="btn btn-success ml-auto">Create</button>
    </div>
  </div>

  <br>
  <hr>
  <br>
  <h4>PREVIOUS ANNOUNCEMENTS</h4>
  <%= render 'users/announcements' %>
</div>
