<div class="col">
  <h4>NEW ANNOUNCEMENT</h4>
  <br>
  <form>
    <div class="form-group">
      <label for="courseSelection">Course:</label>
      <select class="form-control" id="courseSelection">
        <option>Intro to Java (COSI 11a)</option>
        <option>Data Structures and Algorithms (COSI 21a)</option>
        <option>Theory of Computation (COSI 131a)</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Announcement</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter and announcement..."></textarea>
    </div>
  </form>

  <div class="row justify-content-md-center">
    <div class="col">
    </div>
    <div class="col col-md-auto">
      <button type="button" class="btn btn-success ml-auto">Create</button>
    </div>
  </div>

  <br>
  <hr>
  <br>
  <h4>PREVIOUS ANNOUNCEMENTS</h4>

  <br>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">COSI 21a [09.17.17]</h4>
      <p class="card-text">The new programming assignment has been released.</p>
      <a href="#" class="btn btn-primary">Open</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">COSI 21a [09.20.17]</h4>
      <p class="card-text">The programming assignment has been extended...</p>
      <a href="#" class="btn btn-primary">Open</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>