<div class="col">

  <h4 style="display: flex" class="justify-content-between">
    <div>LIST OF COURSES</div>
    <%= link_to 'Add Course', new_course_path, class: "btn btn-outline-primary btn-sm" %>
  </h4>
  <br>
  <div class="list-group" id="list-tab" role="tablist">
    <% @course_list.each do |course| %>
      <%= link_to "#{course.course_title} (#{course.course_code})", course_url(course), class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
  <br><hr>
</div>
