<% provide(:title, "Edit Profile") %>
<% breadcrumb :edit_user, @user %>
<div class="container">
  <br><br>
  <div class="card">
    <div class="card-body">

      <div class="table">
        <div class="row">
          <div class="col">
            <div style="display:flex; justify-content: center; align-items: center;">
              <h1>Editing User</h1>
            </div>
            <hr>
            <br>
          </div>
        </div>
        <div class="row">

          <div class="col-md-auto">
            <!-- Avatar Image -->
            <%= image_tag('/man.png', size: "200") %>
          </div>
          <div class="col">
            <%= render 'form-update', user: @user %>

            <br>
            <%= link_to 'Back', user_path %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
