<% provide(:title, "Edit Profile") %>
<% breadcrumb :edit_user, @user %>
<div class="container">
  <br><br>
  <div class="card">
    <div class="card-body">
      <div class="table">
        <div class="row">
          <div class="col">
            <div style="display:flex; justify-content: center; align-items: center;">
              <h1>Editing User</h1>
            </div>
            <hr>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3"><%= gravatar_for @user, 200 %></div>
          <div class="col-7">
            <%= render 'form-update', user: @user %>
            <br>
            <%= link_to 'Cancel', user_path %>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
