function autosave() {
  $.ajax({
    type: 'PATCH',
    url: '/autosave',
    data: $('form').serialize(),
    dataType: 'script',
    success: data => console.log("saved")
  })
}

var timeoutId
editor.getSession().on('change', () => {
  $('#notification').html(`<div class="alert alert-warning autosave-indicator" role="alert">Save pending...</div>`)
  if (timeoutId) clearTimeout(timeoutId)
  timeoutId = setTimeout(() => {
    autosave()
    $('#notification').html(`<div class="alert alert-success autosave-indicator" role="alert">Changes saved</div>`)
  }, 2000)
})