<h3>Standard Output</h3>
<br>
<div class="stdout-section">
  <div class="row stdout" style="border: 1px solid #eaecef; margin: 0px; display: none">
    <div class="col-md-auto row-num-col" style="background-color: #eaecef">
    </div>
    <div class="col line-col" style="overflow-x: scroll">
    </div>
  </div>
  <p class="empty-msg">No code has been compiled.</p>
</div>
