<h3>Standard Output</h3>
<br>
<div class="stdout-section">
  <div class="row stdout" style="border: 1px solid rgb(179, 179, 179); margin: 0px; display: none">
    <div class="col-md-auto row-num-col" style="background-color: rgb(179, 179, 179);">
    </div>
    <div class="col line-col">
    </div>
  </div>
  <p class="empty-msg">No code has been compiled.</p>
</div>