<div class="col">
  <div class="card">
    <div class="card-body" style="position: relative; height: 600px; overflow-y: scroll;">
      <div id="list-example" class="list-group"></div>
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
        <h4 style="display: flex; margin-bottom: 10px" class="justify-content-between">
          <div>Announcements</div>
        </h4>
        <% @course.announcements.each do |announcement| %>
          <div class="card bg-light mb-3">
            <div class="card-header"><%="#{announcement.announcement_date.strftime('%B %d, %Y')}"%></div>
            <div class="card-body">
              <p class="card-text"><%=announcement.announcement_body%></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>