<div class="row better-row" style="border-radius: 15px 15px 0px 0px; padding-top: 25px; padding-bottom: 25px; background-color: rgb(69, 69, 69); color: rgb(240, 240, 240);">
  <div class="col-6">
    <%= locals[:first] %>
  </div>
  <div class="col-3">
    <%= locals[:second] %>
  </div>
  <div class="col-3">
    <%= locals[:third] %>
  </div>
</div>
