<% breadcrumb :add_course %>

<div class="row" style="margin-left: 0; margin-right: 0">
  <div class="container">
    <h3 style="padding-top:20px">New Course</small></h3>
    <hr/>
  </div>
</div>

<%= render 'form', course: @course %>