/*
*= require bootstrap/bootstrap-rails-tooltip
*= require bootstrap/bootstrap-rails-popover
*/

@import "bootstrap";
@import "toastr";
@import 'ionicons';

.icon-button {
  color: rgb(0, 126, 246);
}

.icon-button:hover {
  color: rgb(55, 61, 194);
}

.icon-button-delete {
  color: rgb(221, 60, 51);
}

.icon-button-delete:hover {
  color: rgb(170, 43, 36);
}

.table-icon {
  font-size: 24px;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

#editor-card {
  margin: 1.5em auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.editor-div {
  height: calc(100vh - 212px);
}

.submission-editor-div {
  height: calc(100vh - 212px + 47px);
}

.editor-div-assgn {
  height: calc(100vh - 107px);
}

.submission-div {
  height: calc(100vh - 107px);
}

.assignment-details {
  height: calc(100vh - 107px);
  overflow-y: scroll;
}

.autosave-indicator {
  padding-top: 6px !important;
  margin-bottom: 0px !important;
  padding-bottom: 6px !important;
}

.nav-tabs {
  border-bottom:1px solid #ddd
}

.report-cell {
  background-color: rgba(59, 167, 50, 0.76);
  color: rgb(236, 236, 236);
}

.better-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
