/*
*= require bootstrap/bootstrap-rails-tooltip
*= require bootstrap/bootstrap-rails-popover
*/

@import "bootstrap";
@import "toastr";

#editor-card {
  margin: 1.5em auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.editor-div {
  height: calc(100vh - 165px);
}

.editor-div-assgn {
  height: calc(100vh - 107px);
}

.submission-div {
  height: calc(100vh - 107px);
}

.assignment-details {
  height: calc(100vh - 107px);
  overflow-y: scroll;
}

.autosave-indicator {
  padding-top: 6px !important;
  margin-bottom: 0px !important;
  padding-bottom: 6px !important;
}