<footer class="footer" style="margin-bottom: 10px">
  <div class="container">
    <hr style="margin-bottom: 0px"/>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "About", about_path, id: "about", class: "nav-link text-muted" %>
      </li>
      <!-- <li class="nav-item">
        <%= link_to "Demo", demo_path, id: "demo", class: "nav-link text-muted" %>
      </li> -->
      <li class="nav-item">
        <%= link_to "Contact", contact_path, id: "contact", class: "nav-link text-muted" %>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" style="pointer-events: none">&copy; Shu Lin Chan, Guillermo Narvaez, James Wang, Yaoming Zhan (2017)</a>
      </li>
    </ul>
  </div>
</footer>

<!-- <div class="row justify-content-md-center">
  <div class="col">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Code</span>
      <input type="text" class="form-control" placeholder="Enter course code..." aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="col col-md-auto">
    <button type="button" class="btn btn-success ml-auto">Enroll</button>
  </div>

</div> -->
