<footer class="footer" style="margin-bottom: 10px">
  <div class="container">
    <hr style="margin-bottom: 0px"/>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "About", about_path, id: "about", class: "nav-link text-muted" %>
      </li>
      <!-- <li class="nav-item">
        <%= link_to "Demo", demo_path, id: "demo", class: "nav-link text-muted" %>
      </li> -->
      <li class="nav-item">
        <%= link_to "Contact", contact_path, id: "contact", class: "nav-link text-muted" %>
      </li>
    </ul>
  </div>
</footer>
